AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
FixNamespaceComments: true
IndentCaseLabels: true
PenaltyReturnTypeOnItsOwnLine: 100
PenaltyBreakBeforeFirstCallParameter: 10000
SortIncludes: false
SpaceAfterCStyleCast: false
