<launch>
  <node pkg="yac_ros" type="calib_capture_node" name="calib_capture_node" required="true" output="screen">
    <param name="imshow" value="true" />
    <param name="viz_detection" value="true" />
    <param name="rosbag_path" value="/data/calib_mono.bag" />
    <param name="cam0_topic" value="/rs/rgb0/image" />
  </node>
</launch>
