<launch>
  <arg name="config_file" default="$(find yac_ros)/config/calib_intel_d435i.yaml" />

  <node pkg="yac_ros" type="calib_stereo_nbv_node" name="calib_stereo_nbv_node" required="true" output="screen">
    <!-- launch&#45;prefix="gdb &#45;ex run &#45;&#45;args"> -->
    <param name="config_file" value="$(arg config_file)" />
  </node>
</launch>
